*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tot{
    display: flex;
}
.player1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-right: 2px solid rgb(169, 127, 75);
}
.player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
button{
    width:200px;
    height:60px;
    background-color: burlywood;
    border: none;
    border-radius: 28px;
    padding:4px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgb(202, 164, 113);
}
button:active{
    background-color: rgb(206, 165, 103);
}
p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
h2{
    font-size: 50px;
}
